body{
    background-color: darkcyan ;
}
.p{
    color: white;
    background-color: black;
    width: 400px;
    height: 20px;
    text-align: center;
    margin: 0px auto;
}
.a{
    border: 5px solid red;
    width: 600px;
    height: 175px;
    margin: 0px auto;
    background-color: black;
}
.b{
    background-color: aqua;
    color: black;
}
.c{
    background-color: aqua;
    color: black;
}
